*{
    background-color: #242424;
    color: white;
}

.main{
    width:30%;
    background-color:#333333;
    border-radius: 30px;
    margin:auto;
    margin-top: 5%;
    padding: 20px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.head{
    background-color: #333333;
    display: flex;
    justify-content: center;
}

h2{
    background-color:#333333;
}

.form{
    background-color:#333333;
    display: flex;
    flex-direction: column;
    padding: 10px;

}

.btn{
    display: flex;
    justify-content: center;
    background-color:#333333;
    padding: 10px;
}
button{
    border: none;
    padding: 18px 30px;
    background-color:#242424;
    font-weight: bold;
    color: white;
    border-radius: 14px;
    cursor: pointer;

}

button:hover{
   text-decoration: underline;

}

label{
    background-color:#4a4a4a;
    margin: 3px;
    border-radius: 5px;
    color: black;
    padding: 3px;
    height: 30px;
    color: white;

}
.genders{
    background-color:#4a4a4a;
    padding: 3px;
}

input::placeholder{
    background-color:#4a4a4a;
    color: #6e6d6d;
}
select{
    background-color:#4a4a4a;
    color: #6e6d6d;
    
}
textarea
{
    background-color: #4a4a4a;
    border: none;
    color: white;
}

.onee{
    margin: 10px;
    padding: 9px 5px;
    background-color:#4a4a4a;
    border-radius: 10px;
    color: white;

}

input{
    border: none;
    background-color:#4a4a4a;
    color: white;
    
}

.two{
    display: flex;
    align-items: flex-start;
}


